@import-normalize;
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@200;400;600&display=swap');

body {
  font-size: 10px;
  margin: 0;
  padding: 0;
  font-family: 'Roboto Mono', monospace;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1 {
  font-size: 2.8rem;
}

h2 {
  font-size: 2rem;
  margin-bottom: 40px;
}

a {
  text-decoration: none;
}

/* button style  */
/* button style reset  */
button {
  border: none;
  margin: 0;
  padding: 0;
}

.btn {
  background-color: #e99787;
  border: 1px solid #e99787;
  border-radius: 5px;
  color: #fff;
  font-family: 'Roboto Mono', monospace;
  font-size: .8rem;
  font-weight: 600;
  max-width: 150px;
  padding: 0.7rem;
  transition: all .3s ease-in;
}

.btn:hover,
.btn:focus {
  background-color: #fff6f0;
  border-color: #e99787;
  color: #e99787;
  cursor: pointer;
}

/* form style */

.form {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  margin-top: 50px;
  max-width: 500px;
  text-align: start;
}
 
 .form h2 {
  margin-bottom: 40px;
}

.form span {
  display: block;
  font-size: 1rem;
}

.form input {
  border-radius: 5px;
  font-family: 'Roboto Mono', monospace;
  height: 25px;
  margin-bottom: 20px;
  margin-top: 10px;
  width: 100%;
}

.form textarea {
  border-radius: 5px;
  font-family: 'Roboto Mono', monospace;
  height: 30rem;
  margin-bottom: 20px;
  margin-top: 10px;
  width: 100%;
}

.form button {
  margin-top: 10px;
}